# -FrontPage-

Options None

<Limit GET POST>
order deny,allow
deny from all
allow from all
require group authors administrators
</Limit>
<Limit PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthType Basic
AuthName watfordsynagogue.org.uk
AuthUserFile /home/watfords/public_html/_vti_pvt/service.pwd
AuthGroupFile /home/watfords/public_html/_vti_pvt/service.grp
